.head{
    background-color: #06C1AE;
    height: 50px;
    color:white;
}
.head .left {
    font-size: 16px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.head .middle i{
    font-size: 13px; 
}
.head .middle {
    margin-top: 10px; 
    height: 30px;
    background-color:#05A494;
    display: flex;
    align-items: center;
    font-size: 15px;
    border-radius: 3px; 
    color:#64D9CB;
}
.head .middle i{
    font-size: 15px; 
}
.head .right {
    font-size: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.head .right i{
    font-size: 15px; 
}
.part1 .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}
.part1 .circle-Orange{
    width:40px;
    height:40px;
    border-radius: 50%;
    /* margin-top:10px;  */
    background-color: #FF8822;
}
.part1 .circle-Red{
    width:40px;
    height:40px;
    border-radius: 50%;
    /* margin-top:10px; */ 
    background-color: #EA6644;
}
.part1 .circle-Blue{
    width:40px;
    height:40px;
    border-radius: 50%;
    /* margin-top:10px;  */
    background-color: #7788F2;
}
.part1 .circle-Lightblue{
    width:40px;
    height:40px;
    border-radius: 50%;
    /* margin-top:10px;  */
    background-color: #66CCEE;
}
.part1 .circle-Lightorange{
    width:40px;
    height:40px;
    border-radius: 50%;
    /* margin-top:10px;  */
    background-color: #F7BA5B;
}

.part1 .text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;/* 
    margin-top:-20px;  */
}


.part2{
    height: 160px;
    border:1px solid #ddd8ce;
}
.part2 .leftitem{
    border-right:1px solid #ddd8ce;
    margin-top: 5px;
    padding-left: 20px;
    padding-bottom: 10px; 
}
.top{
    margin-left:-15px; 
    height: 80px;
    padding-left: 20px;
}
.leftbottom{
   margin-left:-15px; 
    border-top: 1px solid #DDD8CE;
    border-right: 1px solid #DDD8CE;
    padding-left: 20px;
}
.rightbottom{ 
    border-top: 1px solid #DDD8CE;
    padding-left: 20px;
    padding-right: 40px;
}
.part2 p{
    color:grey;
    font-size: 15px;
    margin-top:-10px; 
}
.part2 .rect-big{
    width:80px;
    height:80px;
    background-color: #666666;
}
.part2 .rect-middle{
    width:55px;
    height:55px;
    position: relative;
    left:130px;
    top:-50px;
    background-color: #666666;
}
.part2 .rect-small{
    position: relative;
    left:30px;
    top:-5px;
    width:35px;
    height:35px;
    background-color: #666666;
}
.green{
    color: #5EA81B;
}
.red{
    color: #FF5427;
}
.pink{
    color: #F85CAD;
}
.orange{
    color: #F99B09;
}
#time{
    font-size: 13px;
    display: flex;
    flex-direction: row; 
    font-weight: bold;
    margin-top:-5px; 
}
#time .hms{
    background-color: #4C4C4C;
    color: white;
    border-radius: 5px;
    width: 16px;
    height: 16px;
     display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: center; 
}


.part3 .rect-middle {
    width: 55px;
    height: 55px;
    background: #666666;
    margin-right: 10px; 
}

.part3 .left,
.part3 .right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 0;
    border-right: 1px solid #DDDDDD;
    justify-content: space-between;
    padding-top:10px;
    padding-bottom: 10px;  
    padding-left: 30px; 
}

.part3 .title {
    color: rgb(255,60,0);
    font-size: 20px;
}

.part3 .detail {
    margin-top:-20px; 
    color:grey;
    font-size: 15px;
}

.part4 {
    background: #fff;
}

.part4  .item {
    height: 103px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin-left:-5px; 
}
.part4  .item2 {
    height: 103px;
    display: flex;
    align-items: center;
    margin-left:-5px; 
}
.part4 .topline {
    border-bottom: 1px solid #ddd;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: -5px; 
    font-size: 20px;
}

.part4  .rect-big{
    width: 80px;
    height: 80px;
    padding: 1px;
    padding-left:-10px; 
    background: linear-gradient(135deg,rgb(102,102,102) 15px,rgb(102,102,102) 0,rgb(0,194,174) 15px,rgb(0,194,174) 35px,rgb(102,102,102) 0,rgb(102,102,102) 100%);
}

.part4 .free {
    transform: rotate(-45deg);
    color: #fff;
    font-size: 12px;
    margin-left: -9px;
    margin-top: -8px;
}
.part4 .left{
    position: relative;
    left: -15px;
}

.part4 .right .top {
    height: 60px;
}

.part4 .title {
    font-size: 12px;
    margin-left:-15px; 
}
.part4 .detail {
    font-size: 12px;
    margin-top:-8px;
    color:grey; 
    margin-left:-15px; 
}

.part4 .right .bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: #09C1AF;
}

.part4 .right .bottom .left {
    display: flex;
    align-items: flex-end;
    margin: 3px;
}

.part4 .right .price {
    font-size: 18px;
    margin-bottom: -2px; 
    color: #09C1AF;
    display: flex;
}

.part4 .right .sale {
    width: 50px;
    height: 23px;
    font-size: 12px;
    color: #FF9900;
    border: 1px solid #FF9900;
    border-radius: 5px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.part4  .right .soldnum {
    color: #777;
}

.part4  .right .pre-price {
    font-size: 11px;
    color: #777;
    margin-left: 7px;
}
.part4  .no-free {
    background: #666666;
}


.end {
    height: 40px;
    font-size: 15px;
    background: #8FC6EA;
    color: #00B2D4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.end .item{
    width: 100%;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.end .item p{
    margin-top:15px;
    line-height: 40px;
}




